asgiref==3.11.1
bcrypt==5.0.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.7
cryptography==49.0.0
Django==6.0.4
google-api-core==2.31.0
google-api-python-client==2.198.0
google-auth==2.55.2
google-auth-httplib2==0.4.0
googleapis-common-protos==1.75.0
httplib2==0.32.0
idna==3.18
isodate==0.7.2
Janome==0.5.0
joblib==1.5.3
narwhals==2.24.0
numpy==2.5.1
packaging==26.0
pandas==3.0.3
pip==26.0.1
proto-plus==1.28.0
protobuf==7.35.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
waitress==3.0.2
wheel==0.46.3
