asgiref
bcrypt
certifi
cffi
charset-normalizer
cryptography
Django
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
idna
isodate
Janome
joblib
narwhals
numpy
packaging
pandas
pip
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pyparsing
python-dateutil
requests
scikit-learn
scipy
setuptools
six
sqlparse
threadpoolctl
tzdata
uritemplate
urllib3
waitress
wheel
